@use "../../colors";
@use "../../typography";

.Header {
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 1.2em 1.5em;
  position: relative;
  max-width: 69em;
  width: 100%;

  &__cart-btn {
    margin-left: auto;
    position: relative;
  }

  &__avatar {
    height: 1.7em;
    border: 0.2em solid transparent;
    border-radius: 99em;
    cursor: pointer;
    transition: border 100ms;

    &:hover {
      border-color: colors.$orange;
    }
  }
}

@media screen and (min-width: 900px) {
  .Header {
    padding: 0;
    gap: 3em;
    border-bottom: 1px solid colors.$grayish-blue;

    &__nav-btn {
      display: none;
    }

    &__avatar {
      height: 3.2em;
    }
  }
}
