@use "colors";
@use "type";
@use "breakpoints";

* {
    box-sizing: border-box;
    color: colors.$very-dark-desaturated-blue;
}

main {
    background-color: colors.$soft-violet;
    background-image: linear-gradient(to top right, colors.$soft-blue, colors.$soft-violet);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 80rem;
    background-color: white;
    box-shadow: 0 10px 20px 5px rgba(0,0,0, 0.3);
    border-radius: 2em;
    padding: 2em;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    overflow: visible;
}

.faqs__heading {
    font-size: 2rem;
    font-weight: type.$bold;
    text-align: center;
}
.faqs__list {
    margin: 1em 0;
}
.faqs__listitem {
    padding: 1.2em 0;
    border-bottom: 1px solid colors.$light-grayish-blue;
} .faqs__question {
    // margin-bottom: .8em;
    transition: all 200ms ease;
} .faqs__answer {
    color: colors.$dark-grayish-blue;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2em;
    transition: all 200ms ease;
} .faqs__expand {
    float: right;
    margin-left: 2em;
}


.faqs__listitem:hover {
    .faqs__question {
        color: colors.$soft-red;
    }
    cursor: pointer;
}

.faqs__listitem--active {
    .faqs__question {
        margin-bottom: 1em;
        font-weight: type.$bold;
    }
    .faqs__answer {
        max-height: 4em;
    }
    .faqs__expand {
        transform: rotate(180deg);
    }
}

.illustration {
    margin-top: -110px;
    height: 20em;
    background-image: url("../images/illustration-woman-online-mobile.svg"), url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position:top center, top 110px center;
} .illustration__box {
    display: none;
}


@media (min-width: 762px) {
    // :root {
    //     font-size: 14px;
    // }
    .card {
        flex-direction: row;
        align-items: center;
        padding: 0;
        padding-right: 4em;
    }
    .faqs {
        width: 50%;
        margin-left: 4em;
    }
    .illustration {
        width: 50%;
    }
    .faqs__heading {
        font-size: 2.5rem;
        text-align: left;
    }

    .illustration {
        position: relative;
        margin:0;
        min-height: 40em;
        background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
        background-position: center left -80px, center left -570px;
    } .illustration__box {
        position: absolute;
        display:initial;
        background-image: url("../images/illustration-box-desktop.svg");
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        top: 40%;
        left: -95px;
    }
}