@use "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: typography.$font;
  font-weight: typography.$weight-reg;
  font-size: typography.$size-reg;
}

.App {
  min-height: 100vh;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  :focus {
    outline: 2px solid orange;
    outline-offset: 2px;
  }
}

@media screen and (min-width: 900px) {
  .App {
    padding-inline: 2em;
  }
}
