@use "../../../../styles/colors";
@use "../../../../styles/typography";

.CartItem {
  display: flex;
  align-items: center;
  gap: 1em;

  &__thumbnail {
    width: 3.1em;
    border-radius: 0.3em;
  }

  &__info {
    color: colors.$dark-grayish-blue;
    overflow: hidden;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: typography.$weight-reg;
    margin-bottom: 0.3em;
  }

  &__total-value {
    color: colors.$very-dark-blue;
  }

  &__delete-btn {
    margin-left: auto;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
