@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
  font-family: Manrope, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
}

.card {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.8em;
  box-shadow: 0 1em 3em rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 50em;
  color: #6d7f97;
}

.card__image {
  object-fit: cover;
  height: 15em;
  border-radius: 0.8em 0.8em 0 0;
}

.card__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1.4em;
  color: #48556a;
  padding: 3rem 3rem 0;
}

.card__descr {
  line-height: 1.5em;
  margin-bottom: 2em;
  padding: 0 3em;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 3em 1.5em;
  transition: 100ms ease;
}
.card__footer--hidden {
  padding-bottom: 1em;
}

.card__profile {
  display: inline-flex;
  align-items: center;
  width: max-content;
}

.card__authorImage {
  object-fit: cover;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.card__profileText {
  margin-left: 1em;
}

.card__author {
  font-weight: 700;
  color: #48556a;
  margin-bottom: 0.5em;
}

.card__shareBtn {
  z-index: 2;
  background-color: #ecf2f8;
  border: none;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: 100ms ease;
}
.card__shareBtn:hover {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.card__shareBtn--active {
  background-color: #6d7f97;
  box-shadow: none !important;
}
.card__shareBtn--active svg path {
  fill: #fff !important;
  transition: inherit;
}

.card__shareDialog {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #9eafc2;
  background-color: #48556a;
  border-radius: 0 0 0.8em 0.8em;
  padding: inherit;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: opacity 100ms ease, transform 100ms ease;
}
.card__shareDialog * {
  margin-right: 1em;
}
.card__shareDialog--active {
  opacity: 1;
}
.card__shareDialog--active img {
  cursor: pointer;
}
.card__shareDialog .triangle {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 1.4em;
  height: 1.4em;
  border: 0.7em solid #48556a;
  border-right: 0.7em solid rgba(0, 0, 0, 0);
  border-left: 0.7em solid rgba(0, 0, 0, 0);
  border-bottom: none;
}

@media (min-width: 762px) {
  .card {
    flex-direction: row;
  }

  .card__image {
    height: unset;
    width: 20em;
    border-radius: 0.8em 0 0 0.8em;
  }

  .card__descr {
    margin-bottom: 0.5em;
  }

  .card__footer--hidden {
    padding-bottom: 1.5em;
  }

  .card__shareDialog {
    width: unset;
    height: unset;
    bottom: unset;
    left: unset;
    right: -4.8em;
    bottom: 6em;
    width: 18em;
    border-radius: 0.5em;
    padding: 1em 2em;
    justify-content: space-between;
    transform: translateY(1em);
  }
  .card__shareDialog * {
    margin: 0;
  }
  .card__shareDialog .triangle {
    display: block;
  }
  .card__shareDialog--active {
    transform: none;
  }
}

/*# sourceMappingURL=styles.css.map */
