.ProductPreview {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: #fff;
    border-radius: 99em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      height: 12px;
      transition: 200ms ease;
    }

    &:disabled {
      cursor: not-allowed;

      img {
        filter: contrast(0%);
      }
    }
  }

  &__prev-btn {
    left: 1em;

    img {
      transform: translateX(-10%);
    }
  }

  &__next-btn {
    right: 1em;

    img {
      transform: translateX(10%);
    }
  }
}
