@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$family: "Kumbh Sans", Arial, sans-serif;
$weight-bld: 700;
$weight-reg: 400;
$size: 16px;

:root {
  font-family: $family;
  font-weight: $weight-reg;
  font-size: $size;
}
