@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$font: "Space Mono", monospace;

$size-reg: 24px;

$weight-reg: 400;
$weight-bld: 700;

:root {
  font-family: $font;
  font-size: $size-reg;
  font-weight: $weight-reg;
}
