@use "../../../../colors";

.ThumbnailList {
  display: flex;
  gap: 2em;
  margin-top: 2em;

  &__btn {
    width: 0;
    flex: 1 1 0;
    border-radius: 0.5em;
    cursor: pointer;

    &[data-current="true"],
    &:hover,
    &:focus-within {
      > .ThumbnailList__img {
        filter: contrast(60%) brightness(130%);
      }
    }

    &[data-current="true"],
    &:focus-within {
      outline: 2px solid colors.$orange;
    }
  }

  &__img {
    width: 0;
    border-radius: 0.5em;
    flex: 1 1 0;
    transition: filter 200ms ease;
  }
}
