.Page {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}

@media (min-width: 900px) {
  .Page {
    flex-grow: 1;
    max-width: 64em;
    margin-inline: 2.5em;
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 7em;
    > * {
      flex: 1 1 0px;
    }
  }
}
